force-app/main/default/flows/Create_Design_Revision_On_Design_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Designes</name>
        <label>Count Designes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DesignRevisionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thought_Designs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Any_Design_Revision</name>
        <label>Has Any Design Revision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Design_Revision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Any_Design_Revision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DesignRevisionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates a Design Revision record when Opportunity StageName changes to &quot;Design&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Create Design Revision On Design Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Design Revision On Design Stage</label>
    <loops>
        <name>Loop_Thought_Designs</name>
        <label>Loop Thought Designs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Design_Revision</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Designes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Any_Design_Revision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Design_Revision</name>
        <label>Create Design Revision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Array_Azimuth__c</field>
            <value>
                <elementReference>$Record.Array_Azimuth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ballast_Block_Specification__c</field>
            <value>
                <elementReference>$Record.Ballast_Block_Specification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Height_ft__c</field>
            <value>
                <elementReference>$Record.Building_Height_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_Standard__c</field>
            <value>
                <elementReference>$Record.Code_Standard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DesignPreference__c</field>
            <value>
                <elementReference>$Record.DesignPreference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_or_new_construction__c</field>
            <value>
                <elementReference>$Record.Existing_or_new_construction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exposure_Category__c</field>
            <value>
                <elementReference>$Record.Exposure_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ground_Slope__c</field>
            <value>
                <elementReference>$Record.Ground_Slope__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landfill_Location__c</field>
            <value>
                <elementReference>$Record.Landfill_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LegalConsent__c</field>
            <value>
                <elementReference>$Record.LegalConsent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_System_Weight_Limit_lbs__c</field>
            <value>
                <elementReference>$Record.Maximum_System_Weight_Limit_lbs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Length_mm__c</field>
            <value>
                <elementReference>$Record.Module_Length_mm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Manufacturer__c</field>
            <value>
                <elementReference>$Record.Module_Manufacturer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Model_Number__c</field>
            <value>
                <elementReference>$Record.Module_Model_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Wattage_W__c</field>
            <value>
                <elementReference>$Record.Module_Wattage_W__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Wattage__c</field>
            <value>
                <elementReference>$Record.Module_Wattage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Weight_lbs__c</field>
            <value>
                <elementReference>$Record.Module_Weight_lbs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Width_mm__c</field>
            <value>
                <elementReference>$Record.Module_Width_mm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Orientation__c</field>
            <value>
                <elementReference>$Record.Panel_Orientation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Tilt__c</field>
            <value>
                <elementReference>$Record.Panel_Tilt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parapet_Height_in__c</field>
            <value>
                <elementReference>$Record.Parapet_Height_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parapet_Width_in__c</field>
            <value>
                <elementReference>$Record.Parapet_Width_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Install_Date__c</field>
            <value>
                <elementReference>$Record.Planned_Install_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_Load_Limit_psf__c</field>
            <value>
                <elementReference>$Record.Point_Load_Limit_psf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>$Record.Product_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProjectName__c</field>
            <value>
                <elementReference>$Record.ProjectName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Notes__c</field>
            <value>
                <elementReference>$Record.Project_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Wattage_kW__c</field>
            <value>
                <elementReference>$Record.Project_Wattage_kW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Category__c</field>
            <value>
                <elementReference>$Record.Risk_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roof_Pitch__c</field>
            <value>
                <elementReference>$Record.Roof_Pitch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roof_Surface__c</field>
            <value>
                <elementReference>$Record.Roof_Surface__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setback_Distance_ft__c</field>
            <value>
                <elementReference>$Record.Setback_Distance_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Structural_Load_Limit_psf__c</field>
            <value>
                <elementReference>$Record.Structural_Load_Limit_psf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Configuration__c</field>
            <value>
                <elementReference>$Record.System_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Type__c</field>
            <value>
                <elementReference>$Record.System_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UL_3741_compliance__c</field>
            <value>
                <elementReference>$Record.UL_3741_compliance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wind_Speed_mph__c</field>
            <value>
                <elementReference>$Record.Wind_Speed_mph__c</elementReference>
            </value>
        </inputAssignments>
        <object>Design_Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Design_Revision</name>
        <label>Get Design Revision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thought_Designs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Design_Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Design_Revision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Design</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DesignRevisionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
