force-app/main/default/flows/Lead_Stamp_Accepted_Date_on_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsOwnedByUserDecision</name>
        <label>IsOwnedByUserDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsOwnedByUserDecision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnedByUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Stamps Accepted_Date__c when a Lead is assigned from a queue to a user. Triggered after update when OwnerId changes.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsOwnedByQueue</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.OwnerId}, 3) = &quot;00G&quot;</expression>
    </formulas>
    <formulas>
        <name>IsOwnedByUser</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.OwnerId}, 3) = &quot;005&quot;</expression>
    </formulas>
    <interviewLabel>Lead - Stamp Accepted Date on Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Stamp Accepted Date on Owner Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_current_record</name>
        <label>Update current record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Accepted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsOwnedByUserDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
